#sign_up_button:disabled {
  box-shadow: #6b6a6a 2.5px 2px 0.8px;
  background-color: white;
  color: #6b6a6a;
  border: #6b6a6a solid 2px;
}

#sign_up_button {
  padding: 10px;
  font-size: 11px;
  background-color: #ff5a5f;
  cursor: pointer;
  border: solid black 3px;
  box-shadow: black 3px 2px 0.7px;
}

.signup_input {
    border: solid black 2px;
    box-shadow: black 0.5px .5px 1px;
    padding: 0 4px;
    font-size: 12px;
    background-color: #E8F0FE;
  }
  
  .signup_input:focus-visible {
    border: solid black 2px;
    box-shadow: black 0.5px 1px 1px;
    outline: none;
  }