#spot-details {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#spot-images {
    display: flex;
    max-width: 100%;
    gap: 5px;
    margin: auto;
    flex-wrap: wrap;
}

#previewImg {
    width: 50%;
    object-fit: contain;
}

#smaller-images {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    height: 400px;
    justify-content: center;
    border: red solid 3px;
}

.detail-images {
    width: 48%;
    height: 49%;
    object-fit: cover;
}