.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  padding: 1rem 2rem;
  align-items: center;
  height: 70px;
  border-bottom: solid #cccccc 2px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

#logo-text {
  font-family: "Urbanist", sans-serif;
  color: #ff385c;
  font-weight: bolder;
  font-size: 24px;
}

i.fa-solid.fa-bars {
  align-self: center;
}

button.menu-button {
  font-weight: bold;
  background-color: white;
  border-radius: 50px;
  border: solid darkgrey 1px;
  display: flex;
  color: #999999;
  justify-content: center;
  padding: 4px 9px;
  gap: 6px;
  font-size: 1.4rem;
  cursor: pointer;
}

#logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

#logo_img {
  height: 2rem;
}

#header_create_spot {
  margin-left: auto;
  padding: 0 20px;
}

#user_dropdown_info,
#user_dropdown_manageSpots {
  border-bottom: #999999 solid 2px;
  padding-bottom: 5px;
  width: 100%;
}

#user_dropdown_manageSpots {
  padding-top: 3px;
}

#user_dropdown_manageSpots > a {
  color: black;
}

#user_dropdown_info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}



.profile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logged-out {
  margin-left: auto;
}

.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 11px;
  text-align: left;
  border: solid black 2px;
  padding: 4px 10px;
  width: 150%;
  top: 105%;
  right: 5%;
  z-index: 2;
  background-color: white;
  gap: 3px;
}

#user_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: auto;
}

.logout {
  width: fit-content;
  font-size: 12px;
  padding: 3px;
  background-color: #999999;
  border-radius: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#modal_item {
  cursor: pointer;
}



