* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 11.5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  width: 90%;

}

button#demo-login {
  border: none;
  background-color: white;
  color: #00525e;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 8px;
}

button {
  width: 100%;
  margin-top: 5px;
}

#login-button:disabled {
  box-shadow: #6b6a6a 2.5px 2px 0.8px;
  background-color: white;
  color: #6b6a6a;
  border: #6b6a6a solid 2px;
}

#login-button {
  padding: 10px;
  font-size: 11px;
  background-color: #ff5a5f;
  cursor: pointer;
  border: solid black 3px;
  box-shadow: black 3px 2px .7px;
}

.login_input {
  border: solid black 2px;
  box-shadow: black 0.5px .5px 1px;
  padding: 0 4px;
  font-size: 12px;
  background-color: #E8F0FE;
}

.login_input:focus-visible {
  border: solid black 2px;
  box-shadow: black 0.5px 1px 1px;
  outline: none;
}
