button#demo-login {
  border: none;
  background-color: white;
  color: var(--teal);
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 8px;
}



#login-button:disabled {
  box-shadow: #6b6a6a 2.5px 2px 0.8px;
  background-color: white;
  color: #6b6a6a;
  border: #6b6a6a solid 2px;
}

#login-button {
  padding: 10px;
  font-size: 11px;
  background-color: var(--red);
  cursor: pointer;
  border: solid black 3px;
  box-shadow: black 3px 2px .7px;
}

.login_input {
  border: solid black 2px;
  box-shadow: black 0.5px .5px 1px;
  padding: 0 4px;
  font-size: 12px;
  background-color: var(--light-teal);
}

.login_input:focus-visible {
  border: solid black 2px;
  box-shadow: black 0.5px 1px 1px;
  outline: none;
}
